<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label> Bienvenido: {{username}}</ion-label>
  </ion-item>
  <ion-card>
    <ion-item>
      <ion-button class="primary" (click)="irPerfil()">Perfil</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-button class="primary" (click)="irContactos()">Contactos</ion-button>
    </ion-item>
  </ion-card>
</ion-content>